* {
    margin: 0;
    padding: 0;
}

/* Fuentes */

@font-face {
    font-family: 'Frijole';
    src: url('Frijole-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SeymourOne';
    src: url('SeymourOne-Regular.ttf') format('truetype');
}

/* Estilos del body */

body {
    background-image:linear-gradient(to top, rgb(102, 100, 11), rgb(255, 151, 33)); background-repeat: no-repeat; background-attachment: fixed;
}

/* Estilos del header */

header div {
    margin-left: 5%;
}

header div h1 {
    color:rgb(248, 247, 183);
    font-family: 'Frijole';
    font-size: 50px;
}

/* Estilos del bloque inicial (informativo) */

.container-fluid {
    margin-bottom: 2%;
}

.estiloDivTituloSec {
    display: grid;
    background-image:radial-gradient(rgb(114, 235, 90), rgb(255, 253, 151), rgb(255, 163, 77), transparent);
    height: 120px;
    align-items: center;
    text-align: center;
}

.estiloDivTituloSec h2 {
    font-family: 'SeymourOne';
    color:rgb(34, 94, 143);
    font-size: 35px;
}

.estiloDivLista {
    display: grid;
    background-image: radial-gradient(rgb(102, 100, 11), rgb(102, 100, 11), rgb(102, 100, 11), transparent);
    align-content: center;
}

.estiloDivLista h3 {
    font-family: 'SeymourOne';
    color:rgb(100, 190, 250);
    text-align: center;
    font-size: 25px;
}

.estiloDivLista ul {
    color:rgb(100, 190, 250);
    text-align: center;
    list-style-type: none;
    font-size: 19px;
}

.estiloAviso {
    display: grid;
    background-image:url(../images/plantamonedas.jpg);
    background-size:100% 100%;
    height: 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.estiloAviso h3 {
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: 'SeymourOne';
    color:rgb(94 36 112);
    font-size: 25px;
}

/* Estilos del bloque de simulación y listas */

.seccionSimulacion {
    display:grid;
    background-color: black;
    height: auto;
    margin: 0.5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 6fr;
    grid-column-gap: 1px;
}

.seccionSimulacion h3 {
    grid-column: 1/4;
    font-family: 'SeymourOne';
    color:rgb(100, 190, 250);
    font-size: 25px;
    margin-left: 5%;
    margin-top: 1%;
}

.bloqueUno {
    grid-column: 1/2;
    background-image:url(../images/fondocalculador.jpg);
    background-size: 100% 100%;
    margin: 3%;
}

#formularioSimulador {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

input {
    margin: 11% 11% !important;
}

#mesesCredito {
    grid-row: 1/2;
}

#importeCredito {
    grid-row: 2/3;
}

#botonSimular {
    grid-row: 3/4;
}

h4 {
    grid-row: 1/2;
    font-family: 'SeymourOne';
    color:rgb(94 36 112);
    font-size: 20px !important;
}

.bloqueDeLista1 {
    display: grid;
    grid-template-rows: 1fr 13fr;
    margin: 3%;
}

.bloqueDeLista1 div {
    background-color: rgb(18, 80, 88);
    grid-row: 2/3;
}

.bloqueDeLista2 {
    display: grid;
    grid-template-rows: 1fr 13fr;
    margin: 3%;
}

.bloqueDeLista2 div {
    grid-row: 2/3;
    background-color: rgb(18, 80, 88);
}

#nuevaSimulacion {
    font-family: 'SeymourOne';
    color: rgb(146, 211, 48);
    text-align: center;
    font-weight: bold;
}

#error {
    color: red;
    text-align: center;
    font-weight: bold;
}

#listaCreditosRealizados {
    color:rgb(100, 190, 250);
    font-weight: bold;
    margin-left: 1%;
    font-size: 22px;
}

#listaConFiltro {
    color:rgb(193, 141, 209);
    font-weight: bold;
    margin-left: 1%;
    font-size: 22px;
}

#filtroMayorA {
    display: inline;
    height: 24px;
    width: 100px;
    margin: 0px !important;
    font-family: sans-serif;
}

#botonSimular {
    background-color: rgb(146, 211, 48);
    color:rgb(94 36 112);
    font-weight: bold;
    border-radius: 10px;
}

/* footer */

footer {
    text-align: center;
}

footer a {
    font-weight: bold;
    color:rgb(94 36 112);
    text-decoration: none;
}

/* swal */

.swal-title {
    color: rgb(236, 54, 41);
  }

.swal-overlay {
    background-color: rgba(43, 165, 118, 0.45);
  }

.swal-text {
    background-color: #000000;
    font-weight: bold;
    padding: 17px;
    border: 2px solid rgb(255, 163, 77);
    display: block;
    margin: 22px;
    text-align: center;
    color: rgb(146, 211, 48);
  }

.swal-modal {
    background-color: rgba(63, 255, 245, 0.69);
    border: 3px solid white;
  }

.swal-icon--success__hide-corners {
    background-color: rgba(63, 255, 245, 0);
}

.swal-icon--success:before {
    background-color: rgba(63, 255, 245, 0);
  }

.swal-icon--success:after {
    background-color: rgba(63, 255, 245, 0);
  }

/* responsive */

@media screen and (max-width: 1084px) {
    .bloqueDeLista1 {
        grid-template-rows: 1fr 7fr;
    }   
    .bloqueDeLista2 {
        grid-template-rows: 1fr 7fr;
    }
     }

@media screen and (max-width: 992px) {
    .seccionSimulacion {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 3fr 3fr;
    }
    .bloqueUno {
        grid-row: 2/3;
    }
    .bloqueDeLista1 {
        grid-row: 2/3;
    }
    .bloqueDeLista2 {
        grid-row: 3/4;
    }
    input {
        height: 70px;
        font-size: 30px !important;
        width: 80%;
    }
    h4 {
        font-size: 40px !important;
    }
    #nuevaSimulacion {
        font-size: 22px
    }
    #filtroMayorA {
        height: 35px;
        width: 150px;
    }
    h3 {
        font-size: 40px !important;
    }
    .estiloDivLista ul {
        font-size: 30px;
    }
    #listaCreditosRealizados {
        font-size: 25px;
    }
    #listaConFiltro {
        font-size: 25px;
    }
    .bloqueDeLista1 {
        grid-template-rows: 1fr 4fr;
    }   
    .bloqueDeLista2 {
        grid-template-rows: 1fr 4fr;
    }
     }

@media screen and (max-width: 845px) {
    .seccionSimulacion {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 3fr 3fr 3fr;
    }
    .bloqueUno {
        grid-row: 2/3;
    }
    .bloqueDeLista1 {
        grid-row: 3/4;
    }
    .bloqueDeLista2 {
        grid-row: 4/5;
    }
    input {
        height: 80px;
        font-size: 30px !important;
        width: 80%;
    }
    h4 {
        font-size: 40px;
    }
    #nuevaSimulacion {
        font-size: 24px;
    }
    #listaCreditosRealizados {
        font-size: 26px;
    }
    #listaConFiltro {
        font-size: 26px;
    }
    .bloqueDeLista1 {
        grid-template-rows: 1fr 4fr;
    }   
    .bloqueDeLista2 {
        grid-template-rows: 1fr 5fr;
    }
     }

@media screen and (max-width: 430px) {
    .estiloDivTituloSec {
        height: 220px;
    }
    .estiloAviso h3 {
        font-size: 30px !important;
    }
    h4 {
        font-size: 30px !important;
    }
    .estiloDivLista ul {
        text-align: center;
        font-size: 20px;
        padding-left: 0%;
    }
     }

@media screen and (max-width: 345px) {
    h1 {
        font-size: 40px !important;
    }
    .estiloDivTituloSec {
        height: 220px;
    }
    h3 {
        font-size: 25px !important;
    }
    h4 {
        font-size: 25px !important;
    }
    .estiloAviso h3 {
        font-size: 25px !important;
    }
    .estiloDivLista ul {
        text-align: center;
        font-size: 18px;
        padding-left: 0%;
    }
     }    